html{
    text-align: center;
    font-size:120%;
    color:rgb(255, 193, 193);
    background-color: rgb(41, 17, 68);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


canvas {
  outline:3px solid rgb(255, 172, 251);
  background-color: rgb(231, 255, 255);
  max-height: 70vh;
  max-width: 100vw;

}

section.full{
  width: 100%;
  margin: 0;

}



h1{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

h2{
  color:rgb(219, 107, 107);

}

  #instruction{
    list-style-type: none;
    font-size:70%;
    text-align: center;
    display: inline;
  }

  a:link {
    color: rgb(107, 39, 79);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(177, 84, 157);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(187, 99, 161);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(207, 123, 200);
    background-color: transparent;
    text-decoration: none;
  }
  a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  a:hover {
    background-color: #ddd;
    color: black;
  }
      
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    
    li.navbar {
    display: inline;
  
    }



